* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

:root {
    --primary-dark: hsl(233, 26%, 24%);
    --primary-light: hsl(136, 65%, 51%);
    --primary-bright: hsl(192, 70%, 51%);
    --neutral-dark: hsl(233, 8%, 62%);
    --neutral-light: hsl(220, 16%, 96%);
    --neutral-very-light: hsl(0, 0%, 98%);
    --neutral-white: hsl(0, 0%, 100%);
    --primary-font-family: "Public Sans", sans-serif;
    --side-padding: 10%;
}

html {
    font-size: 18px;
    font-family: var(--primary-font-family);
}

.easybank-logo-properties {
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    width: 140px;
}

.easybank-logo-dark {
    background-image: url("./../images/logo.svg");
}

.easybank-logo-white {
    background-image: url("./../images/logo-white.svg");
}

.request-invite-button {
    background: linear-gradient(0.25turn, var(--primary-light), var(--primary-bright));
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    width: 190px;
    color: var(--neutral-white);
    font-weight: 400;
    font-size: 0.9rem;
}

.request-invite-button:hover {
    background: linear-gradient(0.25turn, var(--primary-light), var(--primary-bright));
    opacity: 0.8;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 15px;
    background-color: var(--neutral-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    z-index: 999;
}

nav>.request-invite-button {
    display: none;
    position: relative;
}


/* *************** related to menu dropdown ********************* */

.hamburger-open-close-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    width: 27px;
    height: 27px;
}

.hamburger-close-icon {
    display: none;
}

.menu-items-background {
    z-index: 99;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50.1%);
    width: 100%;
    padding: 0px 20px;
    background: linear-gradient( rgba(45, 49, 77, 0.8), rgba(45, 49, 77, 0.5), rgba(45, 49, 77, 0.25), rgba(255, 255, 255, 0));
    transition: 0.15s;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.menu-items {
    background-color: var(--neutral-white);
    padding: 20px 0;
    width: 100%;
    border-radius: 8px;
    color: var(--primary-dark);
    font-weight: 400;
    margin: 0 auto;
}

.menu-items li {
    list-style: none;
    text-align: center;
    padding: 10px;
    color: var(--neutral-dark);
    border-width: 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
}

.menu-items li:hover,
.menu-items li:active {
    color: var(--primary-dark);
    border-image: linear-gradient(to right, var(--primary-light), var(--primary-bright));
    border-image-slice: 0% 0% 50% 0%;
}

#hamburger-toggler {
    display: none;
}

#hamburger-toggler~.hamburger-open-close-icon {
    background-image: url("./../images/icon-hamburger.svg");
}

#hamburger-toggler:checked~.hamburger-open-close-icon {
    background-image: url("./../images/icon-close.svg");
}

#hamburger-toggler:checked~.menu-items-background {
    height: 100vh;
    padding: 20px;
    opacity: 1;
}


/* ***************** jumbotron ******************* */

.jumbotron {
    width: 100vw;
    overflow: hidden;
    background-color: var(--neutral-very-light);
}

.jumbotron-image-container {
    width: 100vw;
    position: relative;
    overflow: hidden;
    transform: translateY(-15%);
}

.jumbotron-image-container img {
    width: 100%;
}

.bg-intro-mobile-image {
    width: 100%;
}

.bg-intro-desktop-image {
    display: none;
}

.mockups-image-desktop {
    display: none;
}

.mockups-image-mobile {
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}


/* ************************ Jumbotron Text *************************** */

.jumbotron-text {
    margin-top: -50px;
    width: 100vw;
    padding: var(--side-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jumbotron-text h1 {
    text-align: center;
    font-weight: 400;
    color: var(--primary-dark);
}

.jumbotron-text p {
    text-align: center;
    margin: 20px 0;
    line-height: 1.6rem;
    font-size: 0.8rem;
    color: var(--neutral-dark);
    letter-spacing: -0.02rem;
}


/* ************************ Reason section *************************** */


/* .main-content {
        margin-top: 30px;
    } */

.reason-section {
    background-color: var(--neutral-light);
    /* background-color: var(--neutral-light); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px var(--side-padding);
}

.reason-title>h1 {
    text-align: center;
    color: var(--primary-dark);
    font-weight: 300;
    letter-spacing: -0.08rem;
}

.reason-title>p {
    margin: 20px 0;
    color: var(--neutral-dark);
    text-align: center;
    letter-spacing: -0.02rem;
    font-size: 0.8rem;
    line-height: 1.3rem;
}


/* ************************ Reason cards *************************** */

.reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.reason-card {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reason-card-image {
    margin-bottom: 25px;
}

.reason-card h1 {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 25px;
    font-weight: 300;
    color: var(--primary-dark);
}

.reason-card p {
    text-align: center;
    font-size: 0.8rem;
    color: var(--neutral-dark);
    letter-spacing: -0.02rem;
    line-height: 1.4rem;
}


/***************** articles section ***************/

.articles-section {
    background-color: var(--neutral-very-light);
    width: 100%;
    padding: 70px var(--side-padding);
}

.articles-section>h1 {
    text-align: center;
    color: var(--primary-dark);
    font-weight: 300;
    letter-spacing: -0.05rem;
}

.article-card {
    margin-top: 50px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--neutral-white);
}

.article-image>img {
    width: 100%;
}

.article-text {
    padding: var(--side-padding);
}

.article-text>h3 {
    font-size: 0.6rem;
    color: var(--neutral-dark);
}

.article-text>h2 {
    margin-top: 12px;
    font-size: 0.9rem;
    letter-spacing: -0.02rem;
    font-weight: 300;
    color: var(--primary-dark);
}

.article-text>h2:hover {
    color: var(--primary-light);
}

.article-text>p {
    margin-top: 12px;
    font-size: 1rem;
    font-size: 0.8rem;
    letter-spacing: -0.01rem;
    color: var(--neutral-dark);
}


/******************* logo with social media ***********************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-dark);
    padding-bottom: 35px;
}

.logo-with-social-media {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.social-media-images {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 25px;
}

.social-media-images img {
    width: 25px;
}

.social-media-images img:hover {
    filter: invert(0.11) sepia(1) saturate(5.5) hue-rotate(68.4deg) brightness(0.96);
}

.misc-links li {
    list-style: none;
    text-align: center;
    color: var(--neutral-white);
    margin-top: 15px;
    letter-spacing: -0.02rem;
}

.misc-links li:hover {
    color: var(--primary-light);
}

.request-button-with-copyrights {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.copyrights {
    color: var(--neutral-dark);
    margin-top: 30px;
    font-size: 0.85rem;
}


/******************* For Tabs **********************/

@media screen and (min-width: 768px) {
    .jumbotron {
        width: unset;
    }
    /************ reasons section ************/
    .reasons {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .reason-card {
        width: 50%;
        padding: 15px;
    }
    .reason-card:nth-child(1) {
        padding-left: 0;
    }
    /************ articles section ************/
    .article-container {
        display: flex;
        flex-wrap: wrap;
    }
    .article-card {
        width: 50%;
        padding: 15px;
    }
    .article-image {
        height: 50%;
    }
    .article-image>img {
        height: 100%;
        object-fit: cover;
    }
    /************ footer section ************/
    .easybank-logo-white {
        width: 220px;
        height: 30px;
    }
    .social-media-images {
        margin-top: 40px;
    }
    .social-media-images img {
        width: 35px;
    }
    .misc-links {
        margin-top: 30px;
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .misc-links li {
        white-space: pre;
    }
}

@media screen and (min-width: 1400px) {
    /**************** Desktop Nav ******************/
    nav {
        padding: 5px var(--side-padding);
    }
    nav .request-invite-button {
        display: inline-block;
    }
    .request-invite-button {
        width: 150px;
        height: 47px;
        white-space: pre;
        font-size: 0.8rem;
    }
    .hamburger-open-close-icon {
        display: none;
    }
    .hamburger-close-icon {
        display: none;
    }
    .easybank-logo-properties {
        width: 150px;
        height: 20px;
    }
    .menu-items-background {
        position: static;
        transform: translateX(0);
        width: 50%;
        background: linear-gradient( rgba(45, 49, 77, 0), rgba(45, 49, 77, 0), rgba(45, 49, 77, 0), rgba(255, 255, 255, 0));
        transition: 0.15s;
        height: unset;
        opacity: 1;
    }
    .menu-items-background ul {
        display: flex;
        justify-content: center;
    }
    .menu-items {
        padding: 0 0;
        border-radius: 8px;
        color: var(--primary-dark);
        font-weight: 400;
        margin: 0 auto;
    }
    .menu-items li {
        display: inline-block;
        list-style: none;
        text-align: center;
        padding: 15px;
        font-size: 0.85rem;
    }
    /* ***************** jumbotron ******************* */
    .jumbotron {
        width: unset;
        overflow: visible;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .jumbotron-image-container {
        position: relative;
        height: 40vw;
        /* height: 68vh; */
        width: 50%;
        overflow-x: clip;
        overflow-y: visible;
        transform: translateY(0%);
        order: 1;
    }
    .jumbotron-image-container div {
        width: 100%;
        height: 100%;
    }
    .bg-intro-mobile-image {
        display: none;
    }
    .mockups-image-mobile {
        display: none;
    }
    .bg-intro-desktop-image {
        position: absolute;
        bottom: 0;
        transform: translate(-8%, -41%);
        display: block;
        /* height: 100%; */
    }
    .bg-intro-desktop-image img {
        width: 150%;
    }
    .mockups-image-desktop {
        display: block;
        position: relative;
        width: 100%;
        transform: translate(15%, -24.25%);
    }
    /* ************************ Jumbotron Text *************************** */
    .jumbotron-text {
        width: 50%;
        padding: 0 var(--side-padding);
        margin-top: -50px;
        align-items: flex-start;
        order: 0;
    }
    .jumbotron-text h1 {
        font-size: 3.15rem;
        text-align: left;
    }
    .jumbotron-text p {
        text-align: left;
        margin: 35px 0;
        font-size: 1rem;
    }
    /************ reasons desktop section ************/
    .reason-section {
        align-items: flex-start;
        padding-top: 150px;
    }
    .reasons {
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    .reason-title>h1 {
        text-align: left;
        font-size: 2.7rem;
    }
    .reason-title>p {
        font-size: 1.2rem;
        text-align: left;
        line-height: 2rem;
        width: 70%;
    }
    .reason-card {
        align-items: flex-start;
    }
    .reason-card h1 {
        font-size: 1.35rem;
        text-align: left;
    }
    .reason-card p {
        font-size: 1rem;
        line-height: 1.75rem;
        text-align: left;
    }
    .reason-card-image {
        width: 120px;
        margin-bottom: 38px;
    }
    .reason-card-image img {
        width: 80%;
    }
    /************ articles desktop section ************/
    .articles-section>h1 {
        text-align: left;
        font-size: 2.5rem;
        font-weight: 400;
    }
    .article-card {
        padding: 0;
        /* width: 20%; */
        margin-left: 12px;
        margin-right: 12px;
    }
    .article-container {
        flex-wrap: nowrap;
    }
    .article-image {
        height: 50%;
        /* width: 100%; */
    }
    .article-image>img {
        height: 100%;
        object-fit: cover;
    }
    .article-text {
        padding: 15px;
    }
    .article-text h3 {
        font-size: 0.6rem;
    }
    .article-text h2 {
        font-size: 1rem;
    }
    .article-text p {
        margin-top: 20px;
        font-size: 0.8rem;
    }
    /************ footer desktop section ************/
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 0% var(--side-padding) 30px var(--side-padding);
    }
    .logo-with-social-media {
        align-items: flex-start;
        flex: 1;
    }
    .social-media-images {
        width: 55%;
    }
    .social-media-images img {
        width: 22px;
    }
    .misc-links {
        margin-top: 15px;
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1;
    }
    .misc-links li {
        white-space: pre;
        text-align: left;
    }
    .request-button-with-copyrights {
        flex: 2;
        align-items: flex-end;
    }
}

@media screen and (min-width: 1900px) {
    .request-invite-button {
        width: 160px;
        height: 48px;
        white-space: pre;
        font-size: 0.8rem;
    }
    .easybank-logo-properties {
        width: 150px;
        height: 20px;
    }
    .jumbotron-image-container {
        /* height: 78vh; */
        height: 40vw;
    }
    .jumbotron-text h1 {
        font-size: 4.15rem;
    }
    .jumbotron-text p {
        font-size: 1.3rem;
    }
    .reason-card h1 {
        font-size: 1.6rem;
    }
    .reason-card p {
        font-size: 1.3rem;
    }
    .articles-section>h1 {
        font-size: 2.8rem;
    }
    .article-text {
        padding: 25px;
    }
    .article-text h3 {
        font-size: 0.8rem;
    }
    .article-text h2 {
        font-size: 1.5rem;
    }
    .article-text p {
        font-size: 1rem;
    }
    .social-media-images {
        width: 45%;
    }
}